<!DOCTYPE html>
<html lang="en-GB">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<title>{% block title %}Title of page{% endblock %}</title>
  	<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}style/base.css" />
  	<meta name="author" content="Damian Cugley" />
  </head>
  <body>
    <div id="top">
      <p id="trail">
        <a href="/">Home</a> <span>></span> 
        {% block trail %}{% endblock %}
      </p>
      {% block h1 %}
      <h1>{% block heading %}Heading goes here{% endblock %}</h1>
      {% endblock %}
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
