[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=1.11,<2.0"
Markdown = "*"
"9fc1e05" = {path = "./../spreadlinks", editable = true}
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.6"
