/* $Id$ */

@font-face {
    font-family: "League Gothic";
    src: url(League%20Gothic.otf);
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    width: 960px;
    margin: 0 auto;
    
    font-family: "Gentium Book Basic", "Gentium Basic", "Gentium", 
        "Palatino Linotype", "Palatino", "Book Antiqua", serif;
    background-color: #DEF;
    color: #123;
}

a:link {
    color: #C30;
    text-decoration: none;
    border-bottom: 1px solid #FC6;
}
a:visited {
    color: #900;
    text-decoration: none;
    border-bottom: 1px solid #FC6;
}
a:hover,
a:active {
    color: #C30;
    background-color: #FFF;
}

#trail {
    float: left;
    width: 540px;
    padding: 0;
    margin: 0;
    
    background-color: #CDE;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

#trail a,
#trail span {
    display: block;
    float: left;
}

#trail a {
    margin: 0;
    padding: 4px 10px;
}

#trail span {
    margin: 0;
    padding: 4px 0;
}


h1 {
    font-size: 2em;
    clear: both;
    width: 940px;
    padding: 8px 10px;
    
    font-weight: 200;
    font-family: "League Gothic", "Helvetica Narrow", "Helvetica Condensed", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h2, h3 {
    font-family: "Helvetica Neue", "Helvetica", sans-serif; 
}

p {
    width: 540px;
    margin: 0.6em 0;
    padding: 0 10px;
}

li p {
    margin: 0;
    padding: 0;
}
li p+p {
    margin: 0.6em 0 0;
}

#keywords {
    float: left;
    width: 240px;
}

#links {
    float: left;
    width: 560px;
}

h2 {
    font-size: 1.2em;
    margin: 1.2em 5px 0.6em;
    padding: 0 5px 2px 5px;
    
    font-weight: 400;
    color: #456;
    border-bottom: 1px solid #456;
}

ul {
    margin: 0 5px;
    padding: 0 5px;
}

#drillup {
    border-bottom: 1px solid #456;
}

li {
    margin: 0.3em 0;
    padding: 0 0;
    list-style: none;
}

li h3 {
    font-size: 1em;
    margin: 0;
    
    color: #456;
}

#keywords p {
    margin-bottom: 0;
}

#links ul {
    margin: 0;
    padding: 0;
}
#links li {
    margin: 0;
    padding: 0;
}

#links li p {
    margin: 0;
    padding: 0;
    width: auto;
}

#links a:link,
#links a:visited {
    display: block;
    margin: 5px;
    padding: 5px;
    
    color: inherit;
    text-decoration: none;
    border: none;
}

#links a:hover,
#links a:active {
    background-color: #FFF;
}

#links a:hover h3,
#links a:active h3 {
    color: #C30;
    text-decoration: underline;
}

.pagination {
    display: block;
    width: 540px;
    margin: 0.6em 5px;
    padding: 5px;
    position: relative;
    
    background-color: #BCD;
    color: #345;
    text-align: center;
}


#links .pagination a:link,
#links .pagination a:visited {
    display: block;
    position: absolute;
    margin: 0;
    padding: 5px;
}

.pagination a.prev {
    top: 0;
    left: 0;
}
.pagination .current {
    display: block;
    text-align: center;
}
.pagination a.next {
    top: 0;
    right: 0;
}
    