{% extends base_template_name %}
{% load markup %}
{% load url from future %}

{% block title %}{% if keywords %}{{ keywords|join:", " }} –{% endif %} {{ library.title }}{% endblock %}
{% block heading %}{{ library.title }}{% endblock %}

{% block trail %}
<a href="{% url 'library_list' %}">Resource libraries</a> <span>></span>
{% endblock %}

{% block content %}
<div id="description">
  {{ library.description|markdown }}
</div>

<div id="keywords">
  {% for facet_name, facet in facet_drillupdowns %}
  <div class="facet">
    <h2>{% ifequal facet_name "main" %}Keywords{% else %}{{ facet_name }}{% endifequal %}</h2>
    {% if facet.drilldowns or facet.drillups %}
      {% if facet.drillups %}
      <ul id="drillup">
        {% for drillup in facet.drillups %}
        <li>
          {{ drillup.keyword }}
          {% if drillup.urlencoded %}
          <a href="{% url 'library_detail' library_name=library.name urlencoded_keywords=drillup.urlencoded %}">x</a>
          {% else %}
          <a href="{% url 'library_detail' library_name=library.name %}">x</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if facet.drilldowns %}
      <p>Narrow your search:</p>
      <ul id="drilldown">
        {% for drilldown in facet.drilldowns %}
        <li>
          <a href="{% url 'library_detail' library_name=library.name urlencoded_keywords=drilldown.urlencoded %}">{{ drilldown.keyword }} <small>({{ drilldown.link_count }})</small></a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endif %}
    </div>
  {% endfor %}
</div>

<div id="links">
  <h2>{{ link_count }} match{{ link_count|pluralize:"es" }}</h2>

  <ul>
    {% for link in links.object_list %}
    <li>
      <a href="{{ link.href }}">
        <h3>{% if link.image_url %}<img src="{{ link.image_url }}" alt="" />{% endif %}{{ link.title }}</h3>
        {% if link.description %}{{ link.description|markdown }}{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
      <span class="step-links">
          {% if prev_href %}
              <a class="prev" href="{{ prev_href }}">&lt; prev</a>
          {% endif %}
          <span class="current">
              Page {{ links.number }} of {{ links.paginator.num_pages }}.
          </span>
          {% if next_href %}
              <a class="next" href="{{ next_href }}">next ></a>
          {% endif %}
      </span>
  </div>
</div>
{% endblock %}