
#banner {
    color: #DEF;
    background-color: #123;
}

#banner-logo {
    font-size: 4em;
    margin: 0;
    padding: 128px 10px 0;
    
    font-family: "League Gothic", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#content {
    width: 560px;
    float: left;
}

#content h1 {
    font-size: 2em;
    padding: 0.25em 10px;
    margin: 0.25em 0;
    line-height: 1;
}

#metadata {    
    float: left;
    width: 160px;
    margin: 4em 0 0;
    
    font-family: "Helvetica", "Arial", sans-serif;
}

#metadata p {
    font-size: 0.75em;
    line-height: 1.67;
    margin: 0;
    width: 140px;
}

#sidebar {
    float: left;
    width: 240px;
    color: #234;
    /* background-color: #CDE; */
}

#sidebar h2 {
    font-size: 2em;
    margin: 0.25em 0;
    padding: 0.25em 10px;
    line-height: 1;
    
    font-family: "League Gothic", "Helvetica Narrow", "Helvetica Condensed", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar h3 {
    font-size: 1em;
    margin: 0.3 0 0.3em 0;
    padding: 0 10px;
}

#sidebar p {
    margin: 0.3em 0 0.6em;
    padding: 0 10px;
    width: 220px;
}

#sidebar a {
    display: block;
    color: inherit;
    text-decoration: none;
    border: none;
}

#sidebar a:hover {
    color: #631;
    background: #FFF;
    -moz-box-shadow: #789 2px 2px 5px;
    -webkit-box-shadow: #789 2px 2px 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#sidebar a:active {
    color: #631;
    background: #FFF;
    -moz-box-shadow: #789 1px 1px 3px;
    -webkit-box-shadow: #789 1px 1px 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
    -webkit-transform: rotate(-2deg); 
-moz-transform: rotate(-2deg);	
}

#sidebar a h3 {
    text-decoration: underline;
}