@font-face {
    font-family: "League Gothic";
    font-weight: bold;
    src: url(League%20Gothic.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 75%; /* Often this means 12px */
    
    font-family: "Verdana", sans-serif;
    line-height: 1.33333; /* Often this will be 16px */
    background: #CC004C url(jeremyday-bg.gif);
}

h1 {
    font-size: 6em;
    margin: 0.667em 10px 0;
    
    font-family: "League Gothic", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #FFF;
    text-shadow: #000 1px 1px 3px;
}

p {
    margin: 0.667em 10px;
    max-width: 460px;
}

.clear {
    clear: both;
}

#top {
}

#trail {
    margin: 0;
    width: 220px;
    padding: 0.333em 10px;
    background-color: #CC004C;
    color: #FF88CC;
}

#trail a {
    color: #FFF;
}
    

#content {
    margin: 0 auto;
    width: 960px;
    
    background: #EEE url(jeremyday-bg-pale.png);
    -moz-border-radius: 3px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: #000 1px 1px 9px;
    -webkit-box-shadow: #000 1px 1px 9px;
}

#keywords {
    width: 160px;
    float: left;
}

#keywords li {
    margin: 0.67em 10px 0.67em 30px;
}

h2 {
    font-size: 1.5em;
    margin: 1em 10px 0;
    
    
    font-family: Garamond, serif;
    font-style: italic;
    color: #CC004C;
}

#links {
    width: 800px;
    float: left;
}
#links ul {
    margin: 0.67em 0;
}

#links li {
    list-style-type: none;
}

#links a {
    display: block;
    min-height: 70px;
    
    color: inherit;
    text-decoration: inherit;
}

#links a:hover {
    background-color: #FFF;
    -moz-box-shadow: #000 1px 1px 5px;
    -webkit-box-shadow: #000 1px 1px 5px;
}
#links a:active {
    background-color: #FFF;
    -moz-box-shadow: #000 1px 1px 3px;
    -webkit-box-shadow: #000 1px 1px 3px;
}

h3 {
    font-size: 2em;
    margin: 0 10px 0 170px;
    width: 620px;
    
    font-family: "League Gothic", sans-serif;
    text-transform: lowercase;
}

a:hover h3 {
    color: #CC004C;
    text-decoration: underline;
}

h3 img {
    display: block;
    float: left;
    margin: 10px 10px 10px -160px;
    max-width: 140px;
}

#links li p {
    margin: 0 10px 0.67em 170px;
}

.pagination {
    padding: 0.333em 10px 0.333em 170px;
    clear: both;
    background-color: #DDD;
}

#powered-by {
    width: 960px;
    margin: 20px auto 0;
    color: #FFF;
}

#powered-by p {
    width: 220px;
    margin: 0 0 0 720px;
    padding: 0.33em 10px;
    
    text-align: center;
    background: #444 url(jeremyday-bg-dark.png);
}

#powered-by a {
    color: #FFF;
}
